.zm-btn {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
