.label-input-song {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  margin: 8px 0 16px 0;

  cursor: pointer;

  & span {
    padding: 16px 14px;
    color: rgb(105, 105, 105);
    white-space: nowrap;
    width: 552px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.label-input-photo {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  margin: 8px 0 0 0;

  cursor: pointer;

  & span {
    padding: 16px 14px;
    color: rgb(105, 105, 105);
    white-space: nowrap;
    width: 552px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
