* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
body {
  background-color: black;
}

.app {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 13px;
}

.container {
  margin-left: 240px;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  word-break: normal;
}

.zm-btn {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.493);
  border-radius: 90px;
}
