.slider {
  &-container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;

    &--title {
      margin-bottom: 16px;
      font-size: 20px;
      font-weight: 700;
      text-transform: capitalize;
      display: block;

      margin-left: 15px;
    }

    &--content {
      position: relative;
    }
  }
}
